/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.rootPane
{
	-fx-background-color: #eae0de;
	-fx-background-radius: 15;
}

.panel_header
{
	-fx-padding: 10;
}

.icon_application 
{
    -fx-image: url("icons/info.png");
}

.list-cell:selected
{
	-fx-background-color: red;
}

.btn_close
{
	-fx-image: url("icons/info.png");
}

.btn_minimise
{
	-fx-image: url("icons/info.png");
}

.btn_removeAll
{
	-fx-image: url("icons/info.png");
}

.btn_removeSelected
{
	-fx-image: url("icons/info.png");
}

.btn_loadFiles
{
	-fx-image: url("icons/info.png");
}

.btn_undo
{
	-fx-image: url("icons/info.png");
}